<!doctype html>
<html lang="et">
<head>
    <style>
        .strike {
            text-decoration: line-through;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="C1 as vm">
        <input id="newItem" ng-model="vm.inputVar" />
        <input type="button" value="add item" ng-click="vm.addItem()" />
        <br />Items:
        <p>
        <p ng-repeat="item in vm.items">
            <!--<strong ng-style="item.done && 'text-decoration: line-through' || 'null'">{{ item.title }}</strong><input type="checkbox" ng-model="item.done">-->
            <strong ng-class="{strike: item.done}">{{ item.title }}</strong><input type="checkbox" ng-model="item.done">
        </p>
    </div>
    <script src="app08/app.js" ></script>
    <script src="app08/ctrl.js" ></script>
</body>
</html>
