<!doctype html>
<html lang="et">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-app="app">

    {{ 1 + 4 }}

    <div ng-controller="C1 as vm">
        Current value: {{ vm.myVar }}
        <input type="button" value="increase" ng-click="vm.increase()" />

        <br />
        <input id="newItem" ng-model="vm.newItem" />
        <input type="button" value="add item" ng-click="vm.addItem()" />
        <br />Items:
        <p>
            <p ng-repeat="item in vm.items">
                {{ item }} <input type="checkbox" ng-model="item">
            </p>
        </div>
    </div>
    <script>
        'use strict';

        var app = angular.module('app', []);
        app.controller('C1', Controller1);

        function Controller1() {
            this.myVar = 1;

            this.increase = function() {
                this.myVar++;
            };

            this.newItem = '';
            this.items = [];

            this.addItem = function () {
                this.items.push(this.newItem);
                this.newItem = '';
            };
        }
    </script>
</body>
</html>
