<br />Items:
<p>
<a href="#/new">Add new</a>
<p ng-repeat="item in vm.items">
    <!--<strong ng-style="item.done && 'text-decoration: line-through' || 'null'">{{ item.title }}</strong><input type="checkbox" ng-model="item.done">-->
    <strong ng-class="{strike: item.done}">{{ item.title }}</strong><input type="checkbox" ng-model="item.done">
</p>